<header [ngClass]="{'text-main': !isHeaderAtTop, 'text-bone': isHeaderAtTop}"
class="placeholder-opacity-90 backdrop-filter backdrop-blur-lg w-full h-20 sticky top-0 z-50">
  <nav class="h-full w-full flex justify-between">
    <div class="flex justify-end items-center h-full me-5">
      <h1 class="inline-flex py-3 px-3 text-2xl font-bold font">Gestion de usuarios</h1>
    </div>
    <div class="flex justify-end items-center h-full me-5">
      @for (route of myRoutes; track route) {
        <div class="flex justify-between p-2" [routerLink]="route.path" routerLinkActive="text-green-600">
          <h1
          class="inline-flex py-3 px-3 text font-bold cursor-pointer">{{ route.title }}</h1>
        </div>
      }
    </div>
  </nav>
</header>


<section>
  <!-- <div class="absolute top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
    <div
      class="relative left-1/2 -z-10 aspect-[1155/678]
      w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr
      from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
    </div>
  </div> -->
  <router-outlet></router-outlet>
</section>
